# Core functionality - changes here should be rare!
/src/app.py                   @nexttonormal0819
/src/backend/database.py      @nexttonormal0819
/src/backend/routers/auth.py  @nexttonormal0819

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nexttonormal0819
